<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Hotel Booking App - Moiz Sheraz Protfolio Project</title>
  </head>
  <body>
    <img src="/assets/image.png" alt="image" />
    <h1>Hotel Booking App</h1>
    <p>For more Project Visit : </p>
    <a target="_blank" href="https://moizsheraz.vercel.app/">My Website</a>
    <em>Endpoints:</em>
    <ul>
      <% endpoints.forEach((endpoint) => { %>
      <li><a href="<%= endpoint %>"><%= endpoint %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
